<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<header th:fragment="header">
    <div class="header">
        <div class="header-menu">
            <div class="menu-item">
                <a aria-current="page" href="/">Главная</a>
            </div>
            <div class="menu-item">
                <a aria-current="page" href="/credit">Кредитный калькулятор</a>
            </div>
            <div class="menu-item">
                <a aria-current="page" href="/deposit">Депозитный калькулятор</a>
            </div>
            <div class="menu-item">
                <a aria-current="page" href="/about">Справка</a>
            </div>
        </div>
    </div>
</header>


</body>
</html>