.std-button {
    width: 70px;
    height: 70px;
    margin-bottom: 4px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.equal {
    background-color: #04AA6D;
    border: none;
    color: white;
}

.wide-button {
    width: 144px;
}

.long-button {
    height: 144px;
}

.calc-form {
    display: flex;
    justify-content: center;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #ffffff;
    border-radius: 4px;
}

.block {
    width: 100%;
    display: flex;
}