.std-button {
    width: 70px;
    height: 70px;
    margin-bottom: 4px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.equal {
    background-color: #04AA6D;
    border: none;
    color: white;
}

.wide-button {
    width: 144px;
}

.long-button {
    height: 144px;
}

.history-btn {
    font-size: 16px;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #04AA6D;
    height: max-content;
    margin-top: 4px;
    border-radius: 4px;
}

.calc-form {
    display: flex;
    justify-content: center;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #ffffff;
    border-radius: 4px;
}

.max-input {
    width: 100%;
}

.main {
    width: 523px;
}

.block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history {
    margin-left: 10px;
}

.column {
    min-width: 100px;
    padding: 3px 10px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    height: max-content;
    margin-top: 59px;
    border-radius: 4px;
}

.row {
    padding: 3px 0;
    cursor: pointer;
}

.row + .row {
    border-top: 1px solid #ccc;
}