<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/header.css" th:href="@{/css/header.css}">
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>
<br>
<br>
<div class="content">

<form class="form"
      action="/credit"
      method="post">
    <div>
        <label>
            Общая сумма (руб.):
            <input id="summa"
                   name="summa"
                   type="number"
                   min="0"
                   value="1000000"
                   th:value="${params.sum}">
        </label>
    </div>

    <div>
        <label>
            Процентная ставка (%):
            <input id="percent"
                   name="percent"
                   type="number"
                   min="0"
                   max="100"
                   value="5"
                   th:value="${params.percent}">
        </label>
    </div>

    <div>
        <label>
            Срок:
            <br>
            <input style="width: 73%;"
                   id="period"
                   name="period"
                   type="number"
                   min="1"
                   max="720"
                   value="12"
                   th:value="${params.amountOfMonth}">
            <select name="term-type">
                <option>Месяцев</option>
                <option>Лет</option>
            </select>
        </label>
    </div>

    <fieldset>
    <legend>Тип:</legend>
    <label>
        <input type="radio"
               name="credit-type"
               value="Аннуитетный"
               th:checked="${params.type.name} == 'Аннуитетный'">
        Аннуитетный
    </label>

    <label>
        <input type="radio"
               name="credit-type"
               value="Дифференцированный"
               th:checked="${params.type.name} == 'Дифференцированный'">
        Дифференцированный
    </label>
    </fieldset>
    <br>

    <div class="block">
        <button type="submit">Рассчитать</button>
    </div>
</form>
<br>
§
<div class="form" th:if="${result}">
    <div>
        <label>
            Переплата по кредиту (руб.):
            <input readonly name="overpay"
                   type="number"
                   min="0"
                   value="0"
                   th:value="${result.overPay}">
        </label>
    </div>

    <div>
        <label>
            Общая выплата (руб.):
            <input readonly name="total-payment"
                   type="number"
                   min="0"
                   value="0"
                   th:value="${result.totalPayment}">
        </label>
    </div>

    <div>
        <label>
            Ежемесячный платеж:
            <textarea readonly name="monthly-pay"
                      th:text="${result.everyMonthPay}">
            </textarea>
        </label>
    </div>
</div>
</div>

</body>
</html>