<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credit</title>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/form.css" th:href="@{/css/form.css}">
</head>
<body>

<div class="content">
<h2>Кредитный калькулятор</h2>

<form class="form" action="/credit" method="post">
    <div>
        <label>
            Общая сумма (руб.):
            <input id="summa" name="summa" type="number" min="0" value="1000000">
        </label>
    </div>

    <div>
        <label>
            Процентная ставка (%):
            <input id="percent" name="percent" type="number" min="0" max="100" value="5">
        </label>
    </div>

    <div>
        <label>
            Срок:
            <br>
            <input style="width: 75%;" id="period" name="period" type="number" min="1" max="720" value="12">
            <select name="term-type">
                <option>Месяцев</option>
                <option>Лет</option>
            </select>
        </label>
    </div>

    <fieldset>
    <legend>Тип:</legend>
    <label>
        <input type="radio" checked name="credit-type" value="annuity">
        Аннуитетный
    </label>

    <label>
        <input type="radio" name="credit-type" value="differentiated">
        Дифференцированный
    </label>
    </fieldset>
    <br>

    <div class="block">
        <button type="submit">Рассчитать</button>
    </div>
</form>
<br>

<div class="form">
    <div>
        <label>
            Переплата по кредиту (руб.):
            <input readonly name="overpay" type="number" min="0" value="0" th:value="${result.overPay}">
        </label>
    </div>

    <div>
        <label>
            Общая выплата (руб.):
            <input readonly name="total-payment" type="number" min="0" value="0" th:value="${result.totalPayment}">
        </label>
    </div>

    <div>
        <label>
            Ежемесячный платеж:
            <textarea readonly name="monthly-pay" th:value="${result.everyMonthPay}"></textarea>
        </label>
    </div>
</div>
</div>

</body>
</html>