<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>

<div>
    <form>
        <div>
            <input type="text">
        </div>

        <div>
            <button>(</button>
            <button>)</button>
            <button>e</button>
            <button>AC</button>
            <button>DEL</button>
            <button>*</button>
            <button>/</button>
        </div>

        <div>
            <button>cos</button>
            <button>acos</button>
            <button>x</button>
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>-</button>
        </div>

        <div>
            <button>sin</button>
            <button>asin</button>
            <button>^</button>
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <button>+</button>
        </div>

        <div>
            <button>tan</button>
            <button>atan</button>
            <button>mod</button>
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <button type="submit">=</button>
        </div>

        <div>
            <button>ln</button>
            <button>log</button>
            <button>sqrt</button>
            <button>0</button>
            <button>.</button>
        </div>
    </form>
</div>

</body>
</html>